<section class="header">
    <div class="topBlock">
        <div class="logotype">
            <div class="logoImg">
                <img src="img/homePage/header/logotype/logo.png" alt="Company name">
            </div>
            <div class="logoText">
                <h1 class="logoTitle">Логотип</h1>
                <h3 class="logoSubtitle">Инжиниринговая компания</h3>
            </div>
        </div>
        <div class="search">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><img src="../img/homePage/header/search/btn.png" alt="Найти"></button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <nav class="navigation">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="#">О компании</a></li>
            <li role="presentation"><a href="#">Услуги</a></li>
            <li role="presentation"><a href="#">Объекты</a></li>
            <li role="presentation"><a href="#">Закупки</a></li>
            <li role="presentation" class="active"><a href="#">Партнеры</a></li>
            <li role="presentation"><a href="#">Новости</a></li>
            <li role="presentation"><a href="#">Контакты</a></li>
        </ul>
    </nav>
</section>