@import 'variables.scss';
@import 'mixins.scss';


@media only screen and (min-width:1280px) {
html {
    min-height: 100%;
    .homePage {
        height: 100%;
        background-color: $bgColor;
        -webkit-box-shadow: 0 2px #dd9d00;
        -moz-box-shadow: 0 2px #dd9d00;
        box-shadow: 0 2px #dd9d00;
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
        background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
        background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.14), rgba(255,255,255,.14));
        background-image: linear-gradient(to top, rgba(0,0,0,.14), rgba(255,255,255,.14));
        .pageBlock {
            background-color: $bgColor2;
            max-width: 1010px;
            margin: 0 auto;
            
            
            //----- HEADER -----
            
            .header {
                .topBlock {
                    position: relative;
                    border-bottom: 1px solid #dbddde;
                    .logotype {
                        display: flex;
                        padding: 25px 0 23px 38px;
                        .logoImg {
                            display: inline-block;
                            margin-right: 13px;
                            img {
                                width: 65px;
                            }
                        }
                        .logoText {
                            display: inline-block;
                            .logoTitle {
                                @include input-font($boldFont, 24px, $mainColor, 0, bold);
                                @include marginPaddingReset;
                                margin-top: 13px;
                            }
                            .logoSubtitle {
                                @include input-font(Arial, 12px, #6f6f6f, 0, regular);
                                @include marginPaddingReset;
                                margin-top: 4px;
                            }
                        }
                    }
                    .search {
                        position: absolute;
                        right: 0;
                        top: 45px;
                        .input-group {
                            width: 278px;
                            input {
                                width: 241px;
                                height: 25px;
                                background-image: url(../img/homePage/header/search/placeholder.png);
                                background-repeat: no-repeat;
                                background-position: 215px;
                                -webkit-border-radius: 3px;
                                -moz-border-radius: 3px;
                                border-radius: 3px;
                                background-color: #fff;
                                border: solid 1px #e5e5e5;
                            }
                            input:focus {
                                background: none;
                            }
                            span {
                                .btn {
                                    height: 25px;
                                    border: none;
                                    padding: 0;
                                    padding-right: 5px;
                                    img {
                                        padding: 0;
                                        text-align: center;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                }
                .navigation {
                    float: none;
                    text-align: center;
                    height: 43px;
                    .nav-tabs {
                        height: 100%;
                        float: none;
                        display: inline-block;
                        border: none;
                        .active {
                            margin: 0;
                            a {
                                color: white;
                                border: none;
                                background-color: $activeBtnColor;
                                border-radius: 0;
                            }
                        }
                        li {
                            height: 100%;
                            a {
                                @include input-font(Arial, 15px, $menuColor, 0, bold);
                                height: 100%;
                                padding-right: 24px;
                                padding-left: 24px;
                                margin: 0;
                                border: none;
                                -webkit-transition: all 0.4s ease-out 0s;
                                -moz-transition: all 0.4s ease-out 0s;
                                -o-transition: all 0.4s ease-out 0s;
                                transition: all 0.4s ease-out 0s;
                            }
                            a:hover {
                                background-color: $mainColor;
                                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                                -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
                                box-shadow: 0 1px 1px rgba(0,0,0,.3);
                                border: none;
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
            
            //----- End header -----
            
            
            //----- SLIDER -----
            
            .topSlider {
                .slider, .mobileBg {
                    margin-bottom: 0px;
                    .slideItem1, .slideItem2, .slideItem3, .slideItem4, .slideItem5, .slideItem {
                        min-height: 445px;
                        .slideContent {
                            margin-left: 105px;
                            .competence {
                                @include input-font($robotoFont, 16px, white, 0, bold);
                                text-transform: uppercase;
                                background-color: $mainColor;
                                padding: 5px 10px;
                                margin-top: 63px;
                                margin-bottom: 12px;
                                display: inline-block;
                            }
                            .slideTitle {
                                @include input-font($robotoFont, 60px, white, 0, bold);
                                @include marginPaddingReset;
                                max-width: 500px;
                                line-height: 48px;
                            }
                            .slideText {
                                @include input-font(Arial, 16px, white, 0, bold);
                                max-width: 615px;
                                margin-left: 5px;
                                margin-top: 29px;
                            }
                        }
                    }
                    .slideItem1 {
                        background-image: url(../img/homePage/content/slider/1.jpg);
                    }
                    .slideItem2 {
                        background-image: url(../img/homePage/content/slider/1.jpg);
                    }
                    .slideItem3 {
                        background-image: url(../img/homePage/content/slider/1.jpg);
                    }
                    .slideItem4 {
                        background-image: url(../img/homePage/content/slider/1.jpg);
                    }
                    .slideItem5 {
                        background-image: url(../img/homePage/content/slider/1.jpg);
                    }
                    .slideItem {
                        background-image: url(../img/homePage/content/slider/1.jpg);
                    }
                    .slick-dots {
                        bottom: 21px;
                        li {
                            background: url(../img/homePage/content/slider/pagination/dot.png) no-repeat;
                            height: 10px;
                            width: 10px;
                            margin-right: 11px;
                            left: 31px;
                        }
                        li:hover {
                            background: url(../img/homePage/content/slider/pagination/hoverDot.png) no-repeat;
                            -webkit-transition: all 0.4s ease-out 0s;
                            -moz-transition: all 0.4s ease-out 0s;
                            -o-transition: all 0.4s ease-out 0s;
                            transition: all 0.4s ease-out 0s;
                        }
                        li[aria-hidden=false] {
                            background: url(../img/homePage/content/slider/pagination/activeDot.jpg) no-repeat;
                        }
                    }
                }
            }
            
            //----- End slider -----
            
            
            //----- SERVICES -----
            
            .services {
                border-bottom: 1px solid #dbddde;
                .row {
                    margin-left: 15px;
                    margin-right: 15px;
                    .btn-group-justified {
                        .btn-group {
                            padding-top: 45px;
                            padding-bottom: 40px;
                            .menuLink {
                                text-decoration: none;
                                .serviceItem {
                                    padding-right: 10px;
                                    padding-left: 10px;
                                    .serviceImg {
                                        display: inline-block;
                                        height: 36px;
                                        max-width: 35px;
                                        margin-right: 10px;
                                    }
                                    .serviceName {
                                        @include input-font(Arial, 12px, $bgColor, 0, bold);
                                        display: inline-block;
                                        margin: 0;
                                        max-width: 127px;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                        .btn-group:hover {
                            background-color: #eeeeee;
                            -webkit-transition: all 0.4s ease-out 0s;
                            -moz-transition: all 0.4s ease-out 0s;
                            -o-transition: all 0.4s ease-out 0s;
                            transition: all 0.4s ease-out 0s;
                        }
                    }
                }
            }
            
            //----- End services -----

            
            //----- NEW BLOCK -----
            
            .newBlock {
                height: 120px;
            }
            
            //----- End new block -----
        }
    }
}
}


@media only screen and (max-width:1279px) {
html {
    .homePage {
        .pageBlock {
            
            //----- SLIDER -----
            
            .topSlider {
                .slider, .mobileBg {
                    .slideItem1, .slideItem2, .slideItem3, .slideItem4, .slideItem5, .slideItem {
                        .slideContent {
                            .competence {
                                font-size: 15px;
                            }
                            .slideTitle {
                                font-size: 55px;
                            }
                        }
                    }
                }
            }
            
            //----- End slider -----
            
            
            //----- SERVICES -----
            
            .services {
                .row {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            
            //----- End services -----
            
        }
    }
}
}


@media only screen and (max-width:1023px) {
html {
    .homePage {
        .pageBlock {
            
            
            //----- HEADER -----
            
            .header {
                .topBlock {
                    .logotype {
                        .logoText {
                            .logoTitle {
                                font-size: 22px;
                            }
                        }
                    }
                    .search {
                        .input-group {
                            width: 225px;
                            input {
                                width: 200px;
                            }
                        }
                    }
                }
                .navigation {
                    .nav-tabs {
                        li {
                            a {
                                font-size: 13px;
                                padding-right: 15px;
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
            
            //----- End header -----
            
            
            //----- SLIDER -----
            
            .topSlider {
                .slider, .mobileBg {
                    .slideItem1, .slideItem2, .slideItem3, .slideItem4, .slideItem5, .slideItem {
                        min-height: 430px;
                        .slideContent {
                            margin-left: 95px;
                            .competence {
                                font-size: 14px;
                                margin-top: 50px;
                            }
                            .slideTitle {
                                font-size: 50px;
                                line-height: 46px;
                            }
                            .slideText {
                                max-width: 480px;
                            }
                        }
                    }
                }
            }
            
            //----- End slider -----
            
            
            //----- SERVICES -----
            
            .services {
                .row {
                    .btn-group-justified {
                        .btn-group {
                            padding-top: 40px;
                            padding-bottom: 35px;
                            .menuLink {
                                .serviceItem {
                                    padding-right: 5px;
                                    padding-left: 5px;
                                    .serviceImg {
                                        height: 33px;
                                        max-width: 30px;
                                        margin-right: 5px;
                                    }
                                    .serviceName {
                                        max-width: 90px;
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            //----- End services -----

            
            //----- NEW BLOCK -----
            
            .newBlock {
                height: 120px;
            }
            
            //----- End new block -----
        }
    }
}
}


@media only screen and (max-width:768px) {
body {
    font-size: 1vw;
}
html {
    .homePage {
        .pageBlock {
            
            //----- HEADER -----
            
            .header {
                .topBlock {
                    .logotype {
                        display: block;
                        padding: 5em 0 5em 10em;
                        .logoImg {
                            margin-right: 5em;
                            img {
                                width: 18em;
                            }
                        }
                        .logoText {
                            .logoTitle {
                                font-size: 6em;
                                margin: 0;
                            }
                            .logoSubtitle {
                                font-size: 3.5em;
                            }
                        }
                    }
                    .search {
                        position: initial;
                        .input-group {
                            margin: 0 auto 2em;
                            width: 80em;
                            input {
                                width: 17em;
                            }
                        }
                    }
                }
                .navigation {
                    float: none;
                    text-align: center;
                    height: auto;
                    .nav-tabs {
                        height: 100%;
                        float: none;
                        li {
                            display: block;
                            width: 100%;
                            a {
                                font-size: 4em;
                            }
                        }
                    }
                }
            }
            
            //----- End header -----
            
            
            //----- SLIDER -----
            
            .topSlider {
                .slider, .mobileBg {
                    display: none;
                }
                .slider, .mobileBg {
                    .slideItem {
                        min-height: 10em;
                        .slideContent {
                            margin-left: 1em;
                            text-align: center;
                            .competence {
                                font-size: 4em;
                                margin-top: 3em;
                                margin-bottom: 1em;
                            }
                            .slideTitle {
                                font-size: 10em;
                                line-height: 1em;
                            }
                            .slideText {
                                font-size: 4em;
                                max-width: 23em;
                                margin: 2em 0 0 0;
                                padding-bottom: 5em;
                            }
                        }
                    }
                }
                .mobileBg {
                    display: block;
                }
            }
            
            //----- End slider -----
            
            
            //----- SERVICES -----
            
            .services {
                .row {
                    .btn-group-justified {
                        display: block;
                        overflow: hidden;
                        .btn-group {
                            padding-top: 3em;
                            padding-bottom: 2em;
                            display: block;
                            width: 100%;
                            text-align: center;
                            .menuLink {
                                .serviceItem {
                                    padding: 0;
                                    .serviceImg {
                                        height: 10em;
                                        max-width: 10em;
                                        margin-right: 4em;
                                    }
                                    .serviceName {
                                        font-size: 3.5em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            //----- End services -----

        }
    }
}
}















