/*----- VARIABLES -----*/

//Fonts
$boldFont: Ubuntu-Bold;



//$mediumFont: sfuiMedium;


//Colors
$bgColor: #3c4148;
$bgColor2: #fff;
$mainColor: #f29700;
$activeBtnColor: #3c4148;
$menuColor: #293038;




$sideBarBg: #292c33;
$fontColor2: #b3bbcb;
$fontColor3: #212121;
$separatorColor: #eaeaea;
$hoverBg: #6b6b99;
$darkBg: #000;
$notasksBg: #f7f7f7;
$fontColor4: #b1b1c8;
