/*----- VARIABLES -----*/

//Fonts
$boldFont: Ubuntu-Bold;
$robotoFont: Roboto-Bold;
$vagFont: VAGRound;




//$mediumFont: sfuiMedium;


//Colors
$bgColor: #3c4148;
$bgColor2: #fff;
$mainColor: #f29700;
$activeBtnColor: #3c4148;
$menuColor: #293038;




